# :{$PORT}

# root * /srv
# file_server



:80 {
    reverse_proxy {
        to http://komga.dva.autos
        transport http {
            tls
            tls_insecure_skip_verify
        }
        header_up Host {upstream_hostport}
    }
}


:443 {
    reverse_proxy {
        to http://komga.dva.autos
        transport http {
            tls
            tls_insecure_skip_verify
        }
        header_up Host {upstream_hostport}
    }
}
